<html>
  <head>
   <style>
    body {
      background: gray;
      }
    </style>
  </head>
  <body>
    <p>
      <form>
        <input type='text' name='guess' />
        <input type='submit' value='Guess!' />
      </form>
      "<%= message %>"<br>
      "<%= number %>"
    </p>
  </body>
</html>
